# Ambiente virtual
venv/
env/

# Arquivos Python
__pycache__/
*.pyc

# Banco de dados
db.sqlite3

# Variáveis de ambiente
.env

# Credenciais Google
credentials/
*.json

# Arquivos do sistema
.DS_Store
