{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Escola de Balé{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">

        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo da escola de balé">
        </div>

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>
